<section id="registromail">
	<div class="preregistro-logo"></div>

	<h1 class="section-title" ng-show="campaignOk && images.length>0" >Escoge tus fotografías<br><span class="alpha-title">presiona 'Publicar' cuando termines</span></h1>
	<h1 class="section-title" ng-hide="campaignOk">Ingresa tu Rut y<br><span class="alpha-title">se parte del Carrete!</span></h1>

	<form novalidate class="css-form" name="form" ng-hide="campaignOk" >
		<div class="form-group" ng-class="{'has-error': form.rut.$invalid}" >
			<p class="bienvenido" ng-show="campaign">Bienvenido, la campaña a la que asistió fue : {{campaign}}</p>

			<input type="text" id="rut" name="rut" placeholder="Ingrese su RUT" ng-model="rut" validacionrut required>
		</div>

	
		<button class="btn btn-facebook-login" ng-click="login()" ng-disabled="form.rut.$invalid" ng-hide="loginStatus.status == 'connected'"><i class="fa fa-facebook-square"></i> Conectar con Facebook</button>
	<div class="alert alert-success" role="alert" ng-show="cargando"><i class="fa fa-check-circle"></i> Espera un segundo...</div>
	</form>
					
			
	
	<div class="container" ng-show="campaignOk && images.length>0">

		<div class="row" class="col8">
			
			<h6>Imágenes por página</h6>
			<input  maxlength="2" id="imagesforpage" placeholder="Colocar nº" ng-model="pageSize" >
			<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Anterior</button>
   			  	{{currentPage+1}}/{{numberOfPages()}}
    			<button ng-disabled="currentPage >=images.length/pageSize - 1" ng-click="currentPage=currentPage+1">Siguiente</button>
    		
		</div>
			
			<div class="row" class="col4">
    		<button class="btn" ng-click="publicar()"> Publicar</button> 
			</div>

		<div class="row">
            <div class="col-9-12">
              
              	<h1 class="gallery-title">Galeria</h1>
             </div>

          	  <div ng-repeat= "image in images | startFrom:currentPage*pageSize | limitTo:pageSize" class="col-lg-3 col-md-4 col-xs-6 thumb">
             		
                	<img id="{{image}}" ng-click="isChoosen(image)" ng-src="\images\{{imageName(image)}}" with="160" width="250" ng-class="escogidas.indexOf(image)!= -1 ?  'choosen-image': 'border-image'">
		   	 </div>
        </div>
    </div> 
	

</section> <!-- #registromail -->