<section id="registromail">
	<div class="preregistro-logo"></div>

	<h1 class="section-title">Ingresa tu Rut y<br><span class="alpha-title">se parte del Carrete!</span></h1>

	<form novalidate class="css-form" name="form">
		<div class="form-group" ng-class="{'has-error': form.rut.$invalid}" >
			<p class="bienvenido" ng-show="rfid">Bienvenido, su RFID es {{rfid}}</p>

			<input type="text" id="rut" name="rut" placeholder="Ingrese su RUT" ng-model="rut" validacionrut required>
		</div>

		<button class="btn btn-facebook-login" ng-click="login()" ng-disabled="form.rut.$invalid" ><i class="fa fa-facebook-square"></i> Conectar con Facebook</button>

		
		
		<!-- <button class="btn btn-success" ng-click="share()">FB.ui</button> -->
	</form>
</section> <!-- #registromail -->