<div class="grid">
	<table class="custom-table">
		<thead>
			<tr>
				<th>RFID</th>
				<th>Tipo</th>
				<th>Acciones</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="rfid in rfids">
				<td>{{rfid.id}}</td>
				<td>{{rfid.type}}</td>
				<td><button type="button" class="btn btn-logout" ng-click="remove($index)"><i class="fa fa-remove"></i> Eliminar</button></td>
			</tr>
		</tbody>
	</table>

	<!-- Button trigger modal -->
	<button class="btn btn-green" ng-click="open(lg)"><i class="fa fa-plus-square"></i> Agregar RFID de arriendo</button>
	<button class="btn btn-green" ng-click="openFileModal(lg)"><i class="fa fa-file"></i> Carga de archivo</button>

	<script type="text/ng-template" id="myModalContent.html">
	<!-- Modal -->
	<div class="modal-container">
		<form novalidate name="form" class="rfids">
			<div class="modal-header">
				<button type="button" class="close" ng-click="cancel()"><i class="fa fa-close"></i></button>
				<h4 class="modal-title" id="myModalLabel">Crear RFID</h4>
			</div>
			<div class="modal-body">
				<div>
				  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert(index)">{{alert.msg}}</alert>
				</div>
				<input type="text" id="rfid" name="rfid" placeholder="Ingrese Codigo RFID" ng-model="rfid.id" maxlength="10" required>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-red" ng-click="cancel()"><i class="fa fa-close"></i> Cerrar</button>
				<button type="button" class="btn btn-green" ng-click="guardar(rfid)"><i class="fa fa-save"></i> Guardar</button>
			</div>
		</form>
	</div> <!-- .modal -->

	</script>

	<script type="text/ng-template" id="modalFileUploadContent.html">
	<!-- Modal -->

	<div class="modal-container">
		<form novalidate name="fileForm" class="rfids">
			<div class="modal-header">
				<button type="button" class="close" ng-click="cancel()"><i class="fa fa-close"></i></button>
				<h4 class="modal-title" id="myModalLabel">Subir Archivo de RFIDS</h4>
			</div>
			<div class="modal-body">
				<div class="form-group" ng-class="{'has-error': fileForm.rfidFile.$invalid}">
					Seleccione el archivo .xls
					<div class="form-field file">
						<input type="file" class="form-control" id="rfidFile" name="rfidFile" file-model="myFile" required>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-red" ng-click="cancel()"><i class="fa fa-close"></i> Cerrar</button>
				<button type="button" class="btn btn-green" ng-click="guardar()"><i class="fa fa-save"></i> Guardar</button>
			</div>
		</form>
	</div> <!-- .modal -->
	</script>
</div> <!-- .grid -->