<div class="grid">
	<div class="col-1-1">
		<div class="content">
			<table class="custom-table">
				<thead>
					<tr>
						<th>Campaña</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="campaign in campaigns">
						<td>{{campaign.name}}</td>
						<td width="20"><a type="button" class="btn btn-default btn-sm" ng-click="editarCampaign(lg,campaign.id)"><span class="glyphicon glyphicon-pencil"></span> editar</a></td>
					</tr>
				</tbody>
			</table>

			<!-- Button trigger modal -->
			<button class="btn btn-green" ng-click="open(lg)"><i class="fa fa-plus-square"></i> Crear campaña</button>
		</div> <!-- .content -->
	</div> <!-- .col-1-1 -->
</div> <!-- .grid -->


<!--**************************Modal para Agregar******************************************-->

<script type="text/ng-template" id="addcampaign.html">
<!-- Modal -->
<div class="modal-container">
<form novalidate class="css-form" name="form">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><i class="fa fa-close"></i></button>
		<h4 class="modal-title" id="myModalLabel">Crear Campaña</h4>
	</div>
	<div class="modal-body">
		<div class="form-group" ng-class="{'has-error': form.name.$invalid}">
			<div class="form-field">
				Nombre de Campaña
				<input type="text" id="name" name="name" placeholder="Ingrese Nombre de Campaña" ng-model="campaign.name" required>
			</div>
		</div>
		
		<div class="form-group" ng-class="{'has-error': form.start_date.$invalid}">
			<div class="form-field">
				Fecha Inicio:
				<input type="date" id="start_date" name="start_date" placeholder="Ingrese Intervalo" ng-model="campaign.start_date" required>
			</div>
		</div>

		<div class="form-group" ng-class="{'has-error': form.end_date.$invalid}">
			<div class="form-field">
				Fecha Fin
				<input type="date" id="end_date" name="end_date" placeholder="Ingrese Intervalo" ng-model="campaign.end_date" required>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-red" ng-click="cancel()"><i class="fa fa-close"></i> Close</button>
		<button type="button" class="btn btn-green" ng-click="guardar(campaign)"><i class="fa fa-save"></i> Guardar</button>
	</div>
</form>
</div>
</script>

<!--**************************Modal para Editar******************************************-->

<script type="text/ng-template" id="editcampaign.html">
<!-- Modal -->
<div class="modal-container">
<form novalidate class="css-form" name="form">

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><i class="fa fa-close"></i></button>
		<h4 class="modal-title" id="myModalLabel">Crear Campaña</h4>
	</div>

	<div class="modal-body">
		<div class="form-group" ng-class="{'has-error': form.name.$invalid}">
			<div class="form-field">
				Nombre de Campaña
				<input type="text" id="name" name="name" ng-model="edit.name" placeholder="Ingrese Nombre de Campaña" required>
			</div>
		</div>
		
		<div class="form-group" ng-class="{'has-error': form.start_date.$invalid}">
			<div class="form-field">
				Fecha Inicio:
				<input type="date" id="start_date" name="start_date" ng-model="edit.startdate"  required>
			</div>
		</div>

		<div class="form-group" ng-class="{'has-error': form.end_date.$invalid}">
			<div class="form-field">
				Fecha Fin
				<input type="date" id="end_date" name="end_date" ng-model="edit.enddate" required>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-red" ng-click="cancel()"><i class="fa fa-close"></i> Close</button>
		<button type="button" class="btn btn-green" ng-click="guardar(campaign)"><i class="fa fa-save"></i> Guardar</button>
	</div>
</form>
</div>
</script>