/*html {
	width: 100%;
	height: 100%;
}*/



body {
	background: url('../img/main-background.jpg') center center fixed no-repeat;
	background-size: cover;
}

ul, li {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

header {
	/*position: fixed;
	top: 0px; left: 0px;*/
	width: 100%;
	height: auto;
	text-align: right;
}

.container {
	width: 90%;
	max-width: 960px;
	margin: auto;
}

.main-nav a {
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 0.875em;
	line-height: 1em;
}

.main-nav li:hover a {
	border-bottom: 2px solid #ffffff;
}

.preregistro-logo {
	background: url('../img/logo_fotolink.png') center center scroll no-repeat; /* Reemplazar por logo definitivo */
	background-size: cover;
	width: 240px;
	height: 240px;
	margin: 2em auto 1em auto;

	border-radius: 100%; /* Quitar después de agregar el logo */
}

h1.section-title {
	text-align: center;
	color: #eeeeee;
	text-shadow: 2px 2px 0px #8e3240;
	font-size: 2.5em;
	transform: rotate(-2deg);
	font-family: 'Oleo Script Swash Caps', cursive;
	font-weight: 400;
}

h1.gallery-title {
	text-align: left;
	color: #eeeeee;
	text-shadow: 2px 2px 0px #8e3240;
	font-size: 2.5em;
	transform: rotate(-2deg);
	font-family: 'Oleo Script Swash Caps', cursive;
	font-weight: 400;
}

.alpha-title {
	font-size: 1.5em;
	line-height: 1.25em;
}

#postregistro input#rut,
#preregistro input#rut,
#registromail input#rut {
	display: block;
	border: 3px solid #ffffff;
	border-top: 0px;
	background-color: transparent;
	color: #ffffff;
	text-shadow: 0px 0px 4px rgba(0,0,0,.25);
	text-align: center;
	width: 50%;
	margin: auto;
	font-size: 1.5em;
	font-weight: 300;
	box-shadow: 2px 2px 0px #8e3240;
	margin-bottom: 1em;
}

input#rut::-webkit-input-placeholder { color: #ffffff; }
input#rut::-moz-input-placeholder { color: #ffffff; }
input#rut:-ms-input-placeholder { color: #ffffff; }

.btn {
	display: block;
	border: none;
	border-radius: 4px;
	text-align: center;
	padding: 0.5em 1em;
	margin-bottom: 1em;
}

.btn-facebook-login {
	background-color: #3b5998;
	color: #ffffff;
	width: auto;
	margin: 0px auto 1em auto;
	transition: all 0.25s ease;
}

.btn-facebook-login:hover {
	background-color: #2f436b;
}

.alert {
	width: 50%;
	margin: 1em auto;
	border: 1px solid;
	border-radius: 4px;
	padding: 1em;
	font-size: 0.875em;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
}

.alert-success {
	background-color: #A8FF8C;
	border-color: #547F46;
	color: #2A4023;
}

.alert-danger {
	background-color: #FF5A51;
	border-color: #7F2D29;
	color: #401614;
}

.alert-danger a {
	color: #401614;
}

.perfil-img {
	width: 100%;
	height: auto;
	min-height: 240px;
	overflow: hidden;
	position: relative;
	border-radius: 4px;
}

.perfil-img-bg {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

.btn-cambio-foto {
	background-color: #BF51A4;
	color: #ffffff;
	position: absolute;
	bottom: 0px;
	right: 1em;
	transition: all 0.25s ease;
	font-size: 0.875em;
}

.btn-cambio-foto:hover {
	background-color: #7F366D;
	text-decoration: none;
}

.perfil-header {
	background-color: rgba(255,255,255,0.7);
	padding: 1em;
	border-radius: 4px 4px 0px 0px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
}

.nombre-user, .rut-user {
	font-weight: 300;
	display: inline-block;
	color: #57507F !important;
}

.nombre-user {
	font-size: 3em;
	line-height: 0em;
	margin-right: 0.25em;
	text-transform: uppercase
}

.rut-user {
	border-left: 1px solid #a4a4a4;
	padding-left: 0.5em;
	font-size: 1em;
	font-style: italic;
}
.email-user{
	padding-left: 0.5em;
	font-size: 1.3em;
	color: #57507F !important;
}

}

.perfil-content {
	background-color: rgba(255,255,255,0.9);
	border-radius: 0px 0px 4px 4px;
	padding: 1em;
	box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
	margin-bottom: 1em;
}

.btn-ver-album {
	background-color: #3b5998;
	color: #ffffff;
}

.custom-table {
	width: 100%;
	margin-bottom: 1em;
}

.custom-table thead {
	background-color: #AEA1FF;
	color: #ffffff;
}

.custom-table th {
	font-weight: 300;
	text-transform: uppercase;
}

.custom-table td {
	text-align: center;
	font-size: 0.875em;
	color: #2C2840;
}

.custom-table tr:hover > td {
	background-color: #dddddd;
}

.bienvenido {
	text-align: center;
	color: #ffffff;
	font-size: 1.5em;
}

.btn-logout {
	background-color: #FF423E;
	color: #ffffff;
	margin: 0px auto 1em auto;
	transition: all 0.25s ease;
}

.btn-logout:hover {
	background-color: #BF322F;
}

.admin-page .container.custom {
	background-color: rgba(255,255,255,0.8);
	border-radius: 4px;
	padding: 1em;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
}

.login-admin {
	width: 50%;
	margin: auto;
}

.admin-section-title {
	font-weight: 300;
}

.form-field {
	margin-bottom: 1em;
	text-align: center;
	color: #969696;
}

.form-field i {
	width: 24px;
}

.form-field input,
.rfids input,
.form-field.file {
	background-color: transparent;
	border: 2px solid #969696;
	border-top: 0px;
	color: #969696;
	width: 100%;
	text-align: center;
}

.form-field.file input {
	display: block;
	opacity: 0;
}

.btn-login {
	background-color: #55A8BF;
	color: #ffffff;
	margin: auto;
	transition: all 0.25s ease;
}

.btn-login:hover {
	background-color: #39707F;
}

.btn-green {
	background-color: #3FBF56;
	color: #ffffff;
	font-size: 0.875em;
	transition: all 0.25s ease;
	margin: auto;
	margin-bottom: 1em;
}

.btn-green:hover {
	background-color: #2A7F39;
}

.btn-red {
	background-color: #BF3C2C;
	color: #ffffff;
	font-size: 0.875em;
	margin: auto;
	margin-bottom: 1em;
	transition: all 0.25s ease;
}

.btn-red:hover {
	background-color: #7F281E;
}

.modal-container {
	background-color: rgba(255,255,255,0.9);
	width: 50%;
	margin: auto;
	position: absolute;
	top: 20px;
	left: 50%;
	margin-left: -25%;
	padding: 1em;
	border-radius: 4px;
	box-shadow: 0px 0px 100px rgba(0,0,0,0.75);
}

.modal-title {
	font-weight: 300;
}

.rfids input {
	margin-bottom: 1em;
	text-align: center;
}

button.close {
	border: none;
	border-radius: 4px;
	color: #ffffff;
	background-color: #BF3C2C;
	position: absolute;
	top: 10px;
	right: 10px;
}


.choosen-image{
	border: solid 5px;
	opacity: 0.75;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;

 
}

.border-image{
 border: solid 5px transparent;
}

