@media only screen and (max-width: 480px) {
    #preregistro input#rut,
    #registromail input#rut,
    .alert {
        width: 100%;
    }

    .nombre-user {
        line-height: 1em;
        margin-bottom: 0px;
    }

    .rut-user {
        line-height: 0em;
        border: none;
    }

    .login-admin {
        width: 100%;
    }

    .modal-container {
        width: 90%;
        margin-left: -45%;
    }
}