@import url(http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic);

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 100%;
	line-height: 1.5em;
}

h1 { font-size: 2em;		/* 30pt */ }
h2 { font-size: 1.75em;		/* 28pt */ }
h3 { font-size: 1.625em;	/* 26pt */ }
h4 { font-size: 1.5em;		/* 24pt */ }
h5 { font-size: 1.375em;	/* 22pt */ }
h6 { font-size: 1.25em;		/* 20pt */ }

input, button, p {
	font-family: 'Source Sans Pro', sans-serif;
}