<div class="grid">
	<div class="col-1-1">
		<div class="content">
			<h1 class="admin-section-title">Ingreso Admin</h1>

			<form class="login-admin" novalidate name="form">
				<div class="form-field">
					<i class="fa fa-user"></i> Usuario
					<input type="text" class="form-control" id="rut" name="rut" ng-model="admin.user_name" validacionrut required>
				</div>

				<div class="form-field">
					<i class="fa fa-lock"></i> Contraseña
					<input type="password" class="form-control" id="rut" name="rut" ng-model="admin.password" validacionrut required>
				</div>

				<button class="btn btn-login" type="button" ng-click="login(admin)"><i class="fa fa-sign-in"></i> Login</button>
			</form>
		</div> <!-- .content -->
	</div> <!-- .col-1-1 -->
</div> <!-- .grid -->