<section id="perfil">
	<div class="perfil-header">
		<div class="grid">
			<div class="col-4-12">
				<div class="content">
					<div class="perfil-img">
						<!-- <a href="#" class="perfil-img-bg" style="background: url('{{userData.url_img}}') center center scroll no-repeat; background-size: cover;">&nbsp;</a> -->
						<a href="#" class="perfil-img-bg" style="background: url('{{userData.url_img}}') center center scroll no-repeat; background-size: cover;">&nbsp;</a>

						<a href="#" class="btn btn-cambio-foto" title="Cambia tu foto" ng-hide="true"><i class="fa fa-file-photo-o"></i> Cambia tu foto</a>
					</div> <!-- .perfil-img -->
				</div> <!-- .content -->
			</div> <!-- .col-4-12 -->

			<div class="col-8-12">
				<div class="content">
					<div class="datos-user">
						<h2 class="nombre-user">{{userData.first_name + " " + userData.last_name }}</h2>
						<h4 class="rut-user">{{userData.rut}}</h4>
						<h3 class="email-user">Correo: {{userData.email}}</h3>
					</div> <!-- .datos-user -->
					
					
					<!-- <button class="btn btn-ver-album" ng-hide="true">Revisa tu álbum en Facebook</button> -->
					<button class="btn btn-ver-album" ng-click="fblink(userData.link)"><i class="fa fa-external-link"></i> Revisa tu álbum en Facebook</button>
					
				</div> <!-- .content -->
			</div> <!-- .col-8-12 -->
		</div> <!-- .grid -->

		<div class="alert alert-danger" role="alert" ng-show="imagesUnpublish>0">Tienes fotografías pendientes, <a href="#" ng-click="publicarPendientes()">Haz clic para publicarlas en tu Facebook</a></div>

		<div class="alert alerta alert-success" role="alert" ng-show="imagesUnpublish==0">Felicidades! Ya no tienes fotografías pendientes</div>
		</div> 
		
		<div class="alert alert-danger" role="alert" ng-show="imagesUnpublish>0 && postRegistro">Debes reconocer fotos de la campaña {{campaign}}, <a href="#/postregistro?campaign={{campaign}}" ng-click=""> Presiona aquí</a></div>

	<!--TABLA-->
	<div class="perfil-content" ng-hide="true">
		<div class="grid">
			<div class="col-1-1">
				<div class="content">
					<table class="custom-table">
						<thead>  	
							<th>Tipo</th>
							<th>Evento</th>
							<th>Fecha</th>
							<th>Lugar</th>
						</thead>

						<tbody>
							<tr>						
								<td>Fiesta</td>
								<td>Q-Dance</td>
								<td>23/02/2014</td>
								<td>stgo</td>
							</tr>

							<tr>						
								<td>Fiesta</td>
								<td>Q-Dance</td>
								<td>23/02/2014</td>
								<td>stgo</td>
							</tr>

							<tr>						
								<td>Fiesta</td>
								<td>Q-Dance</td>
								<td>23/02/2014</td>
								<td>stgo</td>
							</tr>

							<tr>						
								<td>Fiesta</td>
								<td>Q-Dance</td>
								<td>23/02/2014</td>
								<td>stgo</td>
							</tr>

							<tr>						
								<td>Fiesta</td>
								<td>Q-Dance</td>
								<td>23/02/2014</td>
								<td>stgo</td>
							</tr>

							<tr>						
								<td>Fiesta</td>
								<td>Q-Dance</td>
								<td>23/02/2014</td>
								<td>stgo</td>
							</tr>
						</tbody>
					</table>
				</div> <!-- .content -->
			</div> <!-- .col-1-1 -->
		</div> <!-- .grid -->
	</div> <!-- .perfil-content -->

</section> <!-- #perfil -->