<section id="preregistro">
    <div class="preregistro-logo"></div>

    <h1 class="section-title">Ingresa tu Rut y<br><span class="alpha-title">se parte del Carrete!</span></h1>

    <form novalidate name="form">

        <input type="text" id="rut" name="rut" placeholder="Dale con tu rut! " maxlength="15" ng-model="rut" validacionrut required>

        <button class="btn btn-facebook-login" type="button" ng-click="login(rut)" ng-disabled="form.rut.$invalid" ng-hide="loginStatus.status == 'connected'"><i class="fa fa-facebook-square"></i> Ingresa con Facebook</button>

        <div class="alert alert-success" role="alert" ng-show="cargando"><i class="fa fa-check-circle"></i> Espera un segundo...</div>

        <!-- <button class="col-md-6 col-md-offset-3 btn boton btn-lg btn-danger" ng-hide="!loginStatus || loginStatus.status != 'connected'" ng-click="logout()">Logout</button> -->
    </form>
</section>