<div class="grid">
	<div class="col-1-1">
		<div class="content">
			<div>
			  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert(index)">{{alert.msg}}</alert>
			</div>

			<form novalidate name="form">
				<div class="form-group" ng-class="{'has-error': form.rut.$invalid}">
					<div class="form-field">
						RUT
						<input type="text" class="form-control" id="rut" name="rut" maxlength="15" ng-model="rfid.rut" validacionrut>
					</div>
				</div> 

				<div class="form-group" ng-class="{'has-error': form.email.$invalid}">
					<div class="form-field">
						Email
						<input type="email" class="form-control" id="email" name="email" ng-model="rfid.email">
					</div>
				</div>

				<div class="form-group" ng-class="{'has-error': form.rfid.$invalid}">
					<div class="form-field">
						RFID
						<input type="text" class="form-control" id="rfid" name="rfid" maxlength="10" ng-model="rfid.id" required>
					</div>
				</div>

				

				<button class="btn btn-green" ng-click="guardar(rfid)" ng-disabled="form.$invalid"><i class="fa fa-save"></i> Guardar</button>
				<!-- <button class="btn btn-success" ng-click="share()">FB.ui</button> -->
			</form>
		</div> <!-- .content -->
	</div> <!-- .col-1-1 -->
</div> <!-- .grid -->